/**
  0   - 600px - Phone
600px - 900px - Tablet portrait
900px - 1200px - Tablet landscape
1200px - 1800px - Desktop 
< 1800px - Big Desktop 


**/
/*1800px/16 = 112.5em */

@media screen and (max-width :112.5em) {

    /*1800px**/
    html {
        font-size: 68%;
    }

    .heading-main {
        font-size: 4.6rem;
        letter-spacing: 1.9rem;
    }

    .heading-sub {
        font-size: 1.6rem;
        letter-spacing: 1rem;
        font-weight: 300;
    }
}

@media screen and (max-width :75em) {

    /*120px**/
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width :56.25em) {


    /*900px**/
    html {
        font-size: 60%;
    }


    .logo {
        width: 6rem;
    }

    .header {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    .heading-main {
        font-size: 4.6rem;
        letter-spacing: 1.5rem;
    }

    .heading-sub {
        font-size: 1.6rem;
        letter-spacing: 7px;
        font-weight: 300;
    }

    .heading-secondary {
        font-size: 3rem;
    }

    .btn,
    .btn:link,
    .btn:visited {
        font-size: 1.6rem;
    }

    .navigation-btn,
    .navigation-background,
    .navigation-checkbox {
        width: 5.5rem;
        height: 5.5rem;
    }

    /* .row {
        flex-wrap: wrap;
    } */
    .booking {
        padding-right: 4rem;
        padding-left: 4rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .booking__form {
        width: 100%;
    }

    .form {
        width: 80%;
    }


    .composition-box {
        margin-bottom: 50rem;
    }

    .composition__Photo {
        width: 40%;
        position: relative;
    }

    .composition__Photo__p1 {
        top: 1%;
        left: 4%;
    }

    .composition__Photo__p2 {
        top: -10%;
        left: 10%;
    }

    .composition__Photo__p3 {
        top: -42%;
        left: 28%;
    }

    .footer {
        padding: 9rem 4rem;
    }

    .footer__logoBox {
        margin-bottom: 3rem;
    }

    .footer__logo {
        width: 8rem;
    }

    .footer__item {
        display: block;
    }

    .footer__link {
        font-size: 1.6rem;
    }

    .footer__copyright {
        font-size: 1.6rem;
    }

    .umargin__Bottom__Big {
        margin-bottom: 4rem;
    }

    .umargin__Bottom__Medium {
        margin-bottom: 2rem;
    }

    .umargin__Bottom__Small {
        margin-bottom: .5rem;
    }

    .umargin__Top__Big {
        margin-top: 4rem;
    }

    .umargin__Top__Medium {
        margin-top: 4rem;
    }

    .umargin__Top__Small {
        margin-top: .5rem;
    }

    .umargin__LeftRight__Big {
        margin: 0 5rem;
    }

    .umargin__LeftRight__Medium {
        margin: 0 3rem;
    }

    .umargin__LeftRight__Small {
        margin: 0 1rem;
    }


}

@media screen and (max-width :37.5em) {


    /*600px**/
    html {
        font-size: 56.25%;
    }

    .container {
        padding: 0;
    }

    .header__LogoBox {
        top: 3rem;
        left: 3rem;
    }

    .logo {
        width: 5.5rem;
    }

    .header {
        clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
    }

    .navigation-btn,
    .navigation-background,
    .navigation-checkbox {
        width: 4.5rem;
        height: 4.5rem;
    }

    .nav-list {
        width: 60%;
    }

    .nav-link:link {
        font-size: 2rem;
        padding: 0;
        padding-bottom: 1rem;
    }

    .nav-link-num {
        font-size: 2rem;
    }

    .heading-main {
        font-size: 4.2rem;
        letter-spacing: 1.2rem;
    }

    .heading-sub {
        font-size: 1.4rem;
        letter-spacing: 4px;
        font-weight: 300;
    }



    .booking__form {
        width: 100%;
    }

    .form {
        width: 100%;
    }

    .heading-secondary {
        font-size: 2.4rem;
    }

    .section-about {
        padding: 14.5rem 1rem 8rem 1rem;
    }

    .section-tours {
        padding: 14rem 1rem 8rem 1rem;
    }

    .section-stories {
        padding: 19rem 1rem 8rem 1rem;
    }

    .section-features {
        padding: 10rem 1rem 8rem 1rem;
    }

    .section-booking {
        padding: 10rem 1rem 10rem 1rem;
    }

    .composition__Photo {
        width: 50%;
    }

    .composition__Photo__p1 {
        top: 1%;
        left: 4%;
    }

    .composition__Photo__p2 {
        top: -10%;
        left: 21%;
    }

    .composition__Photo__p3 {
        top: -42%;
        left: 40%;
    }

    .btn,
    .btn:link,
    .btn:visited {
        font-size: 1.6rem;
    }



    .heading-tirtiary {
        font-size: 3rem;
    }

    .story {
        padding: 2rem;
    }

    .story,
    .story>* {
        transform: none;
    }

    .booking {
        margin: .5rem;
    }


    .footer {
        padding: 6rem 3rem;
    }

    .footer__logoBox {
        margin-bottom: 4rem;
    }

    .footer__logo {
        width: 7rem;
    }

    .footer__item {
        display: block;
    }

    .footer__link {
        font-size: 1.4rem;
    }

    .footer__copyright {
        font-size: 1.4rem;
    }





    .row .col-m-1 {
        flex: 1 2 100%;
    }

    .row .col-m-12 {
        flex: 1 2 50%;
    }

    .row .col-m-13 {
        flex: 1 2 33.3333%;
    }

    .umargin__Bottom__Big {
        margin-bottom: 3rem;
    }

    .umargin__Bottom__Medium {
        margin-bottom: 1rem;
    }

    .umargin__Bottom__Small {
        margin-bottom: .5rem;
    }

    .umargin__Top__Big {
        margin-top: 2.5rem;
    }

    .umargin__Top__Medium {
        margin-top: 1rem;
    }

    .umargin__Top__Small {
        margin-top: .5rem;
    }

    .umargin__LeftRight__Big {
        margin: 0 3rem;
    }

    .umargin__LeftRight__Medium {
        margin: 0 1rem;
    }

    .umargin__LeftRight__Small {
        margin: 0 .5rem;
    }
}

@media screen and (max-width :18.75em) {

    /*300px**/
    html {
        font-size: 50%;
    }

    .header__LogoBox {
        top: 2rem;
        left: 2rem;
    }

    .logo {
        width: 5rem;
    }

    .header {
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }

    .navigation-btn,
    .navigation-background,
    .navigation-checkbox {
        width: 4rem;
        height: 4rem;
    }

    .nav-list {
        width: 80%;
    }

    .nav-link:link {
        font-size: 1.8rem;
    }

    .nav-link-num {
        font-size: 1.8rem;
    }

    .section-about {
        padding: 14.5rem 1rem 8rem 1rem;
    }

    .section-tours {
        padding: 14rem 1rem 8rem 1rem;
    }

    .section-stories {
        padding: 19rem 1rem 8rem 1rem;
    }

    .section-features {
        padding: 10rem 1rem 8rem 1rem;
    }

    .section-booking {
        padding: 10rem 1rem 10rem 1rem;
    }




    .heading-main {
        font-size: 3.5rem;
        letter-spacing: .8rem;
    }

    .heading-sub {
        font-size: 1.2rem;
        letter-spacing: 3px;
        font-weight: 300;
    }

    .heading-secondary {
        font-size: 2rem;
    }



    .heading-tirtiary {
        font-size: 3rem;
    }

    .composition__Photo {
        width: 50%;
    }


    .btn,
    .btn:link,
    .btn:visited {
        font-size: 1.4rem;
    }


    .story {
        padding: 2rem;
    }

    .story,
    .story>* {
        transform: none;
    }

    .section-stories .row {
        margin-bottom: 1rem;
    }

    .booking {
        margin: .5rem;
    }




    .footer {
        padding: 3rem 1rem;
    }

    .footer__logoBox {
        margin-bottom: 2rem;
    }

    .footer__logo {
        width: 5rem;
    }

    .footer__item {
        display: block;
    }

    .footer__link {
        font-size: 1.2rem;
    }

    .footer__copyright {
        font-size: 1.2rem;
    }




    .umargin__Bottom__Big {
        margin-bottom: 3rem;
    }

    .umargin__Bottom__Medium {
        margin-bottom: 1rem;
    }

    .umargin__Bottom__Small {
        margin-bottom: .25rem;
    }

    .umargin__Top__Big {
        margin-top: 2rem;
    }

    .umargin__Top__Medium {
        margin-top: 2rem;
    }

    .umargin__Top__Small {
        margin-top: .25rem;
    }

    .umargin__LeftRight__Big {
        margin: 0 2.5rem;
    }

    .umargin__LeftRight__Medium {
        margin: 0 1.5rem;
    }

    .umargin__LeftRight__Small {
        margin: 0 .5rem;
    }

    .row .col-s-1 {
        flex: 1 2 100%;
    }

    .row .col-sm-12 {
        flex: 1 2 50%;
    }
}